<table class="table table-bordered">
  <tr>
    <td class="col-sm-3">所受培训及所具有证书：</td>
    <td>{{otherInfo.reward}}</td>
  </tr>
  <tr>
    <td>自我评价：</td>
    <td>{{otherInfo.selfAssessment}}</td>
  </tr>
</table>