{% extends 'AppBundle::modal-base.html.twig' %}

{% block title %}增加部门{% endblock %}

{% block body %}
<form id="js-add-department" class="form-horizontal">
  <div class="form-group">
    <label for="js-add-department-name" class="col-sm-2 control-label">部门名称</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="js-add-department-name" name="name">
    </div>
  </div>
</form>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary add-department" data-url="{{path('admin_add_department')}}">增加</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
{% endblock %}