{% extends 'AppBundle::base.html.twig' %}

{% set nav = 'user_create' %}
{% block content_title %} <h4>添加员工</h4>{% endblock %}
{% block content_body %}

{{ script(['links/user/js/add-user.js']) }}
<form id="add-user-form" class="form-horizontal" method="post" action="{{ path('admin_user_add') }}">
  <div class="add-user-body">
    <legend class="text-primary">基本信息</legend>
    {% include 'AppBundle:User:add/user-basic-info.html.twig' %}

    <legend class="text-primary">
      家庭状况
    </legend>
    <div class="family">
      {% include 'AppBundle:User:add/user-family-info.html.twig' %}
    </div>

    <legend class="text-primary">
      学习经历
    </legend>
    <div class="learn">
      {% include 'AppBundle:User:add/user-learn-info.html.twig' %}
    </div>

    <legend class="text-primary">
      工作履历
    </legend>
    <div class="work">
      {% include 'AppBundle:User:add/user-work-info.html.twig' %}
    </div>

    <legend class="text-primary">其他信息</legend>
    {% include 'AppBundle:User:add/user-other-info.html.twig' %}
  </div>
  <div class="footer btn-footer">
    <a href="{{ path('admin_user_present_list') }}" class="btn btn-default">取消</a>
    {{ form_csrf_token() }}
    <button class="btn btn-primary" type="submit">保存</button>
  </div>
</form>
{% endblock %}


