<div class="family-modal hidden">
  <div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="member">称谓:</label>
      <div class="col-sm-2 controls">
        <input class="member form-control" type="text" name="family[1][member]" value="">
      </div>
      <label class="col-sm-2 control-label" for="trueName">姓名:</label>
      <div class="col-sm-3 controls">
        <input class="familyName form-control" type="text" name="family[1][trueName]" value="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="age">年龄:</label>
      <div class="col-sm-2 controls">
        <input class="age form-control" type="text" name="family[1][age]" value="">
      </div>
      <label class="col-sm-2 control-label" for="job">工作单位及职务:</label>
      <div class="col-sm-3 controls">
        <input class="job form-control" type="text" name="family[1][job]" value="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="phone">联系电话:</label>
      <div class="col-sm-2 controls">
        <input class="familyphone form-control" type="text" name="family[1][phone]" value="">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 col-sm-offset-8">
        <button type="button" id="delete-family-info" class="btn btn-sm btn-danger delete-family-info hidden">删除</button>
        <button type="button" class="btn btn-sm btn-success add-family-info">新增</button>
      </div>
    </div>
  </div>
</div>