<div class="form-group">
  <label class="col-sm-2 control-label" for="reward">所受培训及所具有证书:</label>
  <div class="col-sm-7 controls">
    <textarea class="form-control" rows="3" name="other[reward]"></textarea>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="selfAssessment">自我评价:</label>
  <div class="col-sm-7 controls">
    <textarea class="form-control" rows="3" name="other[selfAssessment]"></textarea>
  </div>
</div>